:root {
  --orange-blue: #262262;
  --orange-red: #EA5300;
  --orange-dark-red: #B24008;
  --orange-orange: #FFBA09;
  --orange-dark-orange: #F48C07;
  --orange-white: #FFFFFF;
  --orange-grey: #C4C9D9;
  --orange-dark-grey: #767B87;
  --orange-light-grey: #F5F6FB;
}

*{
	box-sizing: border-box;
}

#root, body {
	padding: 0;
	margin: 0;
}

.gridContainer {
  padding-left: 64px;
  padding-right: 64px;
}

.active-navigation-link {
  color: red;
}

