:root {
  --opt-blue: #262262;
  --opt-red: #EA5300;
  --opt-dark-red: #B24008;
  --opt-orange: #FFBA09;
  --opt-dark-orange: #F48C07;
  --opt-white: #FFFFFF;
  --opt-grey: #C4C9D9;
  --opt-dark-grey: #767B87;
  --opt-light-grey: #F5F6FB;
}

*{
	box-sizing: border-box;
}

#root, body {
	padding: 0;
	margin: 0;
}